{% extends "list/base.html" %}

{% block content %}

{% if context.message %}
<script>
    alert("{{ context.message }}");
</script>
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'list:dashboard' %}">Articles</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list:dashboard' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list:write_article' %}">Write Article</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'list:my_articles' %}">My Articles</a>
          <a class="dropdown-item" href="{% url 'list:change_password' %}">Change Password</a>
<!--          <div class="dropdown-divider"></div>-->
          <a class="dropdown-item" href="{% url 'list:change_pref' %}">Change Preferences</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto myForm">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Change Password</h5>
        <form action="{% url 'list:change_password' %}" method="post" class="form-signin">
            {% csrf_token %}
          <div class="form-group">
              <input type="password" id="password" name="password" class="form-control" placeholder="Old Password" required autofocus>
          </div>
          <div class="form-group">
              <input type="password" id="npassword" name="npassword" class="form-control" placeholder="New Password" required>
          </div>
          <div class="form-group">
              <input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Confirm New Password" required>
          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}
